@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1e2222;
  background: #f8f9fa;
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
}

/* Styling for the autocomplete */
.MuiAutocomplete-root {
  height: 10px;
}

.MuiInputBase-root.Mui-focused {
  background-color: #f8f9fa;
}

.MuiAutocomplete-option {
  background-color: #f8f9fa;
}

.MuiAutocomplete-option:hover {
  font-weight: 600;
}

.app {
  margin: 0;
  background: #f8f9fa;
}
