@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1e2222;
  background: #e9fffb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

.MuiSlider-thumb {
  color: #2e5f65;
}
.MuiSlider-rail {
  color: #aed9e0;
}
.MuiSlider-track {
  color: #2e5f65;
}

/* Styling for the select components*/
#agegroup-select-label {
  color: #1e2222;
}

#fase-select-label {
  color: #1e2222;
}
#brand-select-label {
  color: #1e2222;
}

/* index.css */
.MuiAutocomplete-root {
  height: 10px;
}

.MuiInputBase-root {
  color: #1e2222;
}

.MuiInputBase-root.Mui-focused {
  background-color: #aed9e0;
  color: #060316;
}

.MuiAutocomplete-option {
  background-color: #aed9e0;
  color: #060316;
}
