@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1e2222;
  background: #f8f9fa;
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
}

/* Styling til autocomplete */
.MuiAutocomplete-root {
  height: 10px;
}

.MuiInputBase-root.Mui-focused {
  background-color: #f8f9fa;
}

.MuiAutocomplete-option {
  background-color: #f8f9fa;
}

.MuiAutocomplete-option:hover {
  font-weight: 600;
}

.app {
  margin: 0;
  background: #f8f9fa;
}

/* Styling til tekst med animasjon loading.*/

@keyframes blur-focus {
  0%,
  100% {
    filter: blur(6px);
  }
  50% {
    filter: blur(0);
  }
}

.animate-blur span {
  display: inline-block;
  animation: blur-focus 2.5s ease-in-out infinite;
  filter: blur(6px);
  transition: filter 1.2s;
}

.animate-blur span:nth-child(1) {
  animation-delay: 0s;
}
.animate-blur span:nth-child(2) {
  animation-delay: 0.25s;
}
.animate-blur span:nth-child(3) {
  animation-delay: 0.5s;
}
.animate-blur span:nth-child(4) {
  animation-delay: 0.75s;
}
.animate-blur span:nth-child(5) {
  animation-delay: 1s;
}
.animate-blur span:nth-child(6) {
  animation-delay: 1.25s;
}
.animate-blur span:nth-child(7) {
  animation-delay: 1.5s;
}
.animate-blur span:nth-child(8) {
  animation-delay: 2s;
}
.animate-blur span:nth-child(9) {
  animation-delay: 2.25s;
}

/* Tilpasset letter-spacing animasjonstekst*/

@media only screen and (min-width: 767px) {
  .custom-letter-spacing {
    letter-spacing: 0.95em;
  }
}

@media only screen and (max-width: 767px) {
  .custom-letter-spacing {
    letter-spacing: 0.35em;
  }
}

.custom-text-shadow {
  text-shadow: 1px 1px 3px rgba(2, 2, 2, 0.7);
}
